.DS_Store
hybrid-resistor-mosfet-simulate/~hybrid-resistor-mosfet-simulate.kicad_sch.lck
hybrid-resistor-mosfet-simulate/hybrid-resistor-mosfet-simulate-backups/hybrid-resistor-mosfet-simulate-2025-11-27_214859.zip
