.DS_Store
hybrid-resistor-mosfet-simulate/~hybrid-resistor-mosfet-simulate.kicad_sch.lck
hybrid-resistor-mosfet-simulate/hybrid-resistor-mosfet-simulate-backups/hybrid-resistor-mosfet-simulate-2025-11-27_214859.zip
*.zip
hybrid-resistor-mosfet-simulate/\#auto_saved_files\#
*.wbk
*.wbk
*.wbk
hybrid-resistor-mosfet-simulate/hybrid-resistor-mosfet-simulate.wbk
hybrid-resistor-mosfet-simulate/hybrid-resistor-mosfet-simulate.kicad_sch-bak
hybrid-resistor-mosfet-simulate/hybrid-resistor-mosfet-simulate.kicad_sch
*.lck
/load-control-board-v1
